In [ ]:
name='vijayshree'
age=20
print('my name is {} and age is {}'.format(name,age))

my name is vijayshree and age is 20

In [ ]:
##placeholder
print('my name is {name} and age is {age}'.format(name='vijayshree',age=20))

my name is vijayshree and age is 20

In [ ]:

print(f'my name is {name} and age is {age}')

my name is vijayshree and age is 20

In [ ]:
name='vijayshree'
age=20
degree='btech'
print(f'my name is {name} and age is {age} and degree is {degree}')

my name is vijayshree and age is 20 and degree is btech

In [ ]:
Control Flow
Decision Making statements
It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
Structure of decision making evaluate several expressions that provide True or False as a result.
It is up to you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to be discussed below:

if
if else
if elif else
Nested if
Single Statement Suites

[ ]
22 cells hidden
Loops statements
while loop
for loop
nested loops
Loop control(break,continue,pass)

In [ ]:
#while loop while else
joining_age=20
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time for retirement")

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirement

In [ ]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

In [ ]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [ ]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [ ]:
fruit='mango'
for x in fruit:
    print(x, end='')

mango

In [ ]:
for i in range (0,2,7):
   print(i)

0

In [32]:
## Nested loops## Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):

        print("*",end=" ")
    print("\r")
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print('\n')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [ ]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Mango
Cherry
The fruit is apple
Apple
Papaya
Banana
Mango
Cherry
The fruit is apple
Papaya
Banana